@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    box-sizing:border-box;
    padding: 0;
    margin: 0;
    max-width:100%;
}
html{
    font-size: 62.5%;
}
body{
    font-family: 'Abril Fatface', cursive;
    font-size: 1.6rem;
    line-height:2;
}
#nav{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    background:lightgreen;
}
.smalltxt{
    padding: 0 0 0 45%;
}
.top_nav a{
    font-family: 'Montserrat', sans-serif;
    border: 1px solid black;
}
.top_nav a:hover{
    background:black;
    color:lightgreen;
}
.header{
    display:flex;
    flex-flow: row;
    justify-content: space-between;
    margin:0;
    padding:0;
}
h1, h2{
    background: url(https://images.unsplash.com/photo-1457573179814-451f407f0186?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding: 20% 15% 0 15%;
    font-size: 8rem;
}
.header a{
    text-decoration: none;
    color: black;
    border: 1px solid lightgreen;
    border-radius: 10%;
    text-align: center;
    margin: 20% 10% 30% 0;
    padding:2%;
    font-size:4rem;
}
.header a:hover{
    background:lightgreen;
    color:white;
}
.header p{
    text-align:center;
    font-size:3rem;
    margin:2%;
}
.links, .team{
    display:flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin:2% 0 5%;
}
.links img{
    height:45vh;
    width:45vh;
    border-radius: 25%;
}
.links a{
    display:flex;
    flex-flow: row;
    justify-content: space-between;
    justify-content: center;
    font-size: 3rem;
    color:darkgreen;
}
.links a:hover{
    text-decoration: none;
    color: lightgreen;
}
.team img{
    display:flex;
    flex-flow: row;
    height:45vh;
    width:45vh;
}
.team h3, .team p{
    display:flex;
    flex-flow: row;
    width:45vh;
    justify-content:center;
    padding:0 2%;
    font-family: 'Montserrat', sans-serif;
}
.team a{
    font-size: 2rem;
   display:flex;
   flex-flow: row;
   justify-content: center;

}
.team a:hover{
    color:black;
    font-size: 3rem;
}
h3{
    font-size: 2.5rem;
}
.bottom_nav{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    background:lightgreen;
}
.bottom_nav a{
    font-family: 'Montserrat', sans-serif;
}
.bottom_nav a:hover{
    background:black;
    color:lightgreen;
}


@media(max-width:800px){
    #nav{
        flex-direction: column;
    }
    .smalltxt{
        padding:0;
        text-align: center;
    }
    .top_nav a{
        display: flex;
        flex-direction: column;
        text-align: center;
        text-decoration: none;
    }
    .bottom_nav{
        flex-direction: column;
    }
    .bottom_nav a{
        display:flex;
        flex-direction: column;
        text-align: center;
        text-decoration: none;
        border: 1px solid black;
    }
    .header{
        flex-flow: column;
    }
    .header p{
        font-size: 1.6rem;
    }
    ]
    h1{
        padding:20% 15% 20% 15%;
    }
    .header a{
        margin:0;
        border-radius: 0;
    }
    .links, .team{
        flex-flow: column;
        justify-content: center;
    }
    .links img, .team img{
        size:cover;
        height:45vh;
        width:80%;
        padding: 0 0 0 15%;
        border-radius: 0%;
    }
    .team h3, .team p{
        text-align: center;
        margin:0 0 0 10%;
    }
    .team a{
        justify-content: center;
        margin: 0 0 2% 0;
    }
}

@media(max-width:500px){
    #nav{
        flex-direction: column;
    }
    .smalltxt{
        padding:0;
        text-align: center;
    }
    .top_nav a{
        display: flex;
        flex-direction: column;
        text-align: center;
        text-decoration: none;
    }
    .bottom_nav{
        flex-direction: column;
    }
    .bottom_nav a{
        display:flex;
        flex-direction: column;
        text-align: center;
        text-decoration: none;
        border: 1px solid black;
    }
}